<!DOCTYPE html>
<html>
<head>
  <title>Main page</title>
</head>
  <body>
    <div>
      <div style="background-color: green">
        <a href="http://127.0.0.1:8000"> Main page </a>  
      </div>
      <div style="background-color: black">
        <a href="http://127.0.0.1:8000/reg/"> Registration </a> 
      </div>
      <div>
        <a href="http://127.0.0.1:8000/login"> Login </a>
      </div>      
      <div>
        <a href="http://127.0.0.1:8000/search"> Login </a>
      </div>   
    </div>
  </body>
</html>